

image{
    margin-top: 10%;
}
a.active,a:hover{
    background-color: green;
    transition: .5s;
}
nav nav link ul li a.active,a:hover{
    background-color: green;
    transition: .5s;
}
hr{
    color:white;
}
#services hr{
    color: black;
}
   
btn{
    width: 50%;
    margin-left: 30px;
    margin-right:30px ;
}
.effective{
    height: 100px;
}
.cashless{
    height: 100px;
}
#assets{
    text-align: center;
    float: right;
    padding-left: 100px;
}
#agri{
    padding-right: 100px;
}